<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="LogFilename" value="Application.log" />
    <add key="UseLogFile" value="true"/>-->
    <add key="SettingsFilename" value="steve.mvcsettings"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
